body {
  font-family: Optima, Candara, 'Lucida Sans', Calibri, "Droid Sans", Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
}

blockquote, .date-author, .more, .post-card td span {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}

code {
  font-family: Consolas, Courier, "Courier New", "Lucida Console", Monaco, 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
  font-size: .95em;
}

h1, h2, h3 {
  font-family: Palatino, 'Book Antiqua', serif;
}
